*
	{
		/*font-family: "Verdana", Sans-serif;*/
		font-family: "Times New Roman, Serif";
	}
	body
	{
		/*font-size: 80%;*/
        font-size:12pt;
	}
	h1
	{
		font-size:1.8em;
	}
	code
	{
		/*font-size: 1.5em;*/
		font-family: Monospace;
	}
	th
	{
		background-color: #bbb
	}
	td, th
	{
		/*border-collapse: collapse;
		border: 1px solid grey;*/
		padding: 5px;
	}
	table
	{
		border: 1px solid black;
	}
    tr:nth-child(even)
    {
        background-color: #e0e0e0
    }
	/*h3 = 1.2
	h2 = 1.5
	h1 = 2*/
